[submodule "dependencies/submodules/polyhook-2-0"]
	path = dependencies/submodules/polyhook-2-0
	url = https://github.com/project-takoyaki/polyhook-2-0.git
[submodule "project-takoyaki-arduino/packages/ArduinoCore-API"]
	path = project-takoyaki-arduino/packages/ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API.git
[submodule "project-takoyaki-arduino/packages/framework-arduinorenesas-uno"]
	path = project-takoyaki-arduino/packages/framework-arduinorenesas-uno
	url = https://github.com/project-takoyaki/framework-arduinorenesas-uno.git
[submodule "project-takoyaki-arduino/libraries/arduino-mouse"]
	path = project-takoyaki-arduino/libraries/arduino-mouse
	url = https://github.com/project-takoyaki/arduino-mouse.git
[submodule "project-takoyaki-arduino/libraries/usb-host-shield-2-0"]
	path = project-takoyaki-arduino/libraries/usb-host-shield-2-0
	url = https://github.com/project-takoyaki/usb-host-shield-2-0.git
