---
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty
FixNamespaceComments: false
ContinuationIndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
Cpp11BracedListStyle: false
SpaceInEmptyBlock: true
InsertNewlineAtEOF: true
SortIncludes: CaseSensitive
...
